* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "PT Serif";
  font-size: 36px !important;
  font-weight: 700;
}

.ml-5 {
  margin-left: 20px !important;
}
.welcome .row{
  margin-top: 30px !important;
}
.row-cols-3 img {
  display: block;
  max-width: 70%;
  /* height: 50%; */
  /* margin: 0 auto; */
}

.align-self-center {
  margin-top: 150px !important;
  height: 50% !important;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  position: relative;

}

.container__title {
  position: absolute;

  transform: translateY(-100%) translateX(-50%) rotate(-270deg);
  
  text-transform: uppercase;
  white-space: nowrap;
  margin-left: 270px;
  margin-top: -320px; 
 

}

.container__p {
  text-align: right;
  font-weight: bold;
}


.container__p{
  margin-top: 10px;
  text-align: left;
  font-weight: bold;
}

.footer {
  text-align: center;
}

.footer a {
  text-decoration: none;
}

/* @media (max-width: 576px) {
  .navbar {
    justify-content: flex-start !important;
  }

} */