* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "PT Serif";
  font-size: 36px !important;
  font-weight: 700;
}

.ml-5 {
  margin-left: 20px !important;
}
.welcome .row{
  margin-top: 30px !important;
}
.row-cols-3 img {
  display: block;
  max-width: 60%;
  /* height: 50%; */
  /* margin: 0 auto; */
}

.align-self-center {
  margin-top: 150px !important;
}
/* 
.container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
} */


.col-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}

.container__p:not(.bottom-card) {
  margin-top: -150px;
}

.text-center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
  flex-grow: 1;
  justify-content: flex-center;
}

.container__title {
  writing-mode: tb;
  /* position: relative; */
  /* top: -80px; */
  text-transform: uppercase;
}

.container__p{
  /* max-width: 300px; */
  text-align: left;
  margin-right: 120px;
  font-weight: bold;

}

.bottom-card {
  margin-left: 0px;
}
.footer {
  text-align: center;
}

.footer a {
  text-decoration: none;
}
/* 
@media (min-width: 1390px) {
  .container__title{
    margin-left: 310px;
    margin-top: -390px;
  }

}

@media only screen and (min-width: 1200px) and (max-width:1299px) {
  .container__title{
    margin-left: 270px;
    margin-top: -330px;
  }
}

@media only screen and (min-width: 1200px) and (max-width:1299px) {
  .container__title{
    margin-left: 270px;
    margin-top: -320px;
  }
}


@media only screen and (min-width: 992px) and (max-width:1199px) {
  .container__title{
    margin-left: 230px;
    margin-top: -270px;
  }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
  .container__title{
    margin-left: 170px;
    margin-top: -190px;
  }
} */